/*auth.css*/

/*Form Styles*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* Черный с прозрачностью 50% */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.form-group input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
}

.form-group input::placeholder {
    color: #aaa;
}

.form-group input:focus {
    outline: none;
    border-color: #ff6f61;
}

.login-form button, .register-form button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover, .register-form button:hover {
    background-color: #e65a50;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Send it to the back */
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
}

/* ИЗМЕНЕНО: Добавлен sticky header */
.container {
    position: relative;
    z-index: 1;
}
header {
    background: linear-gradient(135deg, #1a1a1a, #333);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Добавлено */
    top: 0; /* Добавлено */
    z-index: 100; /* Добавлено */
}
/* ИЗМЕНЕНО: изменена структура навбара */
nav {
    display: flex;
    align-items: center;
    position: relative;
}

nav .logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ff6f61;
    margin-left: 0;
    text-decoration: none;
    
}