.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow);
    text-align: center;
    position: relative;
    z-index: 1;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.auth-form__label {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.auth-form__input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: var(--border-radius);
    background-color: var(--background-color-secondary);
    color: var(--text-color);
}

.auth-form__input::placeholder {
    color: var(--text-color-light);
}

.auth-form__input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.auth-form__button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition);
}

.auth-form__button:hover {
    background-color: #e65a50;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
}
